body
{
	background-color: black;
	color: yellow;
}

header
{
	grid-area: headerTag; 
	background-color: green;
	border: solid 5px; 
	padding: 20px 0px;
}

#navbar
{
	display:none;
}


#navbar>ul 
{
	list-style-type:none;
	margin: 0;
	padding:0;
}

li a
{
	float:left;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	background-color:blue;
	font-size:20px;
	border: solid 1px green;
	width:75%;
}

li a:hover
{
	background-color:lightblue;
	color: black;
}

input[type="checkbox"]
{	
display:none;
}

nav
{
	grid-area: navTag;
	background-color: green;
	border: solid 5px; 
	padding: 20px 0px;
}

#product1
{
	grid-area:product1Tag;
}
#product2
{
	grid-area:product2Tag;
}

#product3
{
	grid-area:product3Tag;
}
 
aside
{
	grid-area:asideTag;
	background-color: #354;
	padding: 40px;
	display: grid;
	grid-gap: 20px;
	border: solid #298 5px;
	
	grid-template-areas:
	'product1Tag'
	'product2Tag'
	'product3Tag';	
}

aside>article
{
	border: solid gray;
	background-color: #165;
}

footer
{
	grid-area:footerTag;
	background-color: green;
	border: solid 5px; 
	padding: 20px 0px;
}

#cookie
{
	background-color: #FA0;
	grid-area:cookieTag;
	color: #FFF;
	opacity: 50%;
	z-index:9999;
}

#article1
{
	grid-area:article1Tag;
}

#article2
{
	grid-area:article2Tag;
}

#article3
{
	grid-area:article3Tag;
}

#article4
{
	grid-area:article4Tag;
}

#article5
{
	grid-area:article5Tag;
}

#article6
{
	grid-area:article6Tag
}

#article-grid-container
{
	grid-area:articleGridTag;
	background-color: black;
	padding: 40px;
	display: grid;
	grid-gap: 20px;
	
	grid-template-areas:
	'article5Tag'
	'article3Tag'
	'article2Tag'
	'article1Tag';
}

#tickets
{	
	grid-area:ticketsTag;
}

#article-grid-container> section
{
	background-color: red;
	border: solid aqua; 	
}

#grid-container
{
	display: grid;
	
	grid-template-areas:
	'headerTag		navTag			'
	'articleGridTag	articleGridTag	'
	'asideTag		asideTag		'
	'footerTag		cookieTag		';
}



article
{
	background-color: green;
	border: solid 5px; 
	padding: 20px 0px;
}

.flexparent
{
	display: flex;
	flex-wrap: wrap;
}

#article-flex
{
	display: flex;
	flex-direction: column;
	order: 4;
	flex-basis: 100%;
}

	#article1
	{
		flex-basis: 100%;
		order:3;
	}
		
	#article2
	{
		flex-basis: 100%;
		order:2;
	}
	
	#article3
	{
		flex-basis: 100%;
		order:1;
	}

footer
	{
		flex-basis: 66%;
		order:6;
	}
	
#cookie
	{
		order:7;
		flex:1;
	}



@media screen and (max-width: 480px)
{
	
	#hamburger-icon span
	{
		display: block;
		margin:4px;
		height: 9px;
		width: 60px;
		background-color: #135;
		border-radius: 9px;
		transition: .25s ease-in-out;
	}

	#hamburger-manu:checked ~ #hamburger-icon span:nth-child(1)
	{
		transform: rotate(45deg) translate(5px,15px);
	}

	#hamburger-manu:checked ~ #hamburger-icon span:nth-child(2)
	{
		opacity: 0;
	}

	#hamburger-manu:checked ~ #hamburger-icon span:nth-child(3)
	{
		transform: rotate(-45deg) translate(3px,-15px);
	}

	#hamburger-manu:checked ~ #navbar
	{
		display: block;
	}
	
	input[type="checkbox"]
	{	
	display:none;
	}
	
	#article4
	{
		display:none;
	}

	#article6
	{
		display: none;
	}
	
	header
	{
		flex-basis: 45%;
		flex: 1;
		order: 1
	}
	
	nav
	{
		flex-basis: 45%;
		flex: 1;
		order:2
	}
	
	#movie
	{
		display:none;
	}
	
	aside
	{
		flex-basis: 100%;
		order:3;
	}
	

}




















@media screen and (min-width: 481px) and (max-width: 1279px)
{
	#article4 
	{
		display:none;
	}
	
	#product3
	{
		display:none;
	}
	
	
	#hamburger-icon
	{
		display:none;
	}
	
	
	
	#grid-container
	{
		grid-template-areas:
		'headerTag		headerTag		'
		'navTag			navTag			'
		'articleGridTag	articleGridTag	'
		'asideTag		asideTag		'
		'footerTag		cookieTag		';
	}
	
	/*#grid-container
	{
		grid-template-areas:
		'headerTag	headerTag	'
		'navTag		navTag		'
		'ticketsTag	ticketsTag	'
		'tableTag	tableTag	'
		'asideTag	asideTag	'
		'footerTag	cookieTag	';
	}
	*/
	#navbar
	{
		display:block;
		width:100%;
	}
	
	li a
	{
		float:none;
	}
	
	li
	{
		display: inline;
	}

	#article-grid-container
	{
		grid-template-areas:
		'article1Tag	article2Tag'
		'article1Tag	article2Tag'
		'article3Tag	article2Tag'
		'article3Tag	article5Tag'
		'article3Tag	article5Tag'
		'article6Tag	article6Tag';
	}
	
	aside
	{
		grid-area:asideTag;
		background-color: black;
		padding: 40px;
		display: grid;
		grid-gap: 20px;
		
		grid-template-areas:
		'product1Tag	product2Tag';	
		
		flex-basis: 100%;
		order:3;
	}

	header
	{
		flex-basis: 100%;
		order:1;
	}
	
	nav
	{
		flex-basis: 100%;
		order:2;
	}
	
	#movie
	{
		flex-basis: 100%;
		order:4;
	}
	

}





















@media screen and (min-width: 1279px) 
{
	#article6
	{
		display: block;
	}
	
	#article4
	{
		display: block;
	}
	
	#hamburger-icon
	{
		display:none;
	}
	
	#navbar
	{
		display:block;
		width:100%;
	}
	
	li a
	{
		float:none;
	}
	
	li
	{
		display: inline;
	}
	
	
	table
	{
		grid-area: tableTag;
	}
	
	#grid-container
	{
		grid-template-areas:
		'headerTag		headerTag		'
		'navTag			navTag			'
		'articleGridTag	articleGridTag	'
		'asideTag		asideTag		'
		'footerTag		cookieTag		';
	}
	
	#grid-container
	{
			grid-template-areas:
			'headerTag	headerTag	'
			'navTag		navTag		'
			'ticketsTag	ticketsTag	'
			'tableTag	asideTag	'
			'footerTag	cookieTag	';
	}
	
	
	#article-grid-container
	{
		grid-template-areas:
		'article2Tag	article1Tag	article3Tag'
		'article5Tag	article1Tag	article4Tag'
		'article5Tag	article6Tag	article6Tag';
	}
	
	aside
	{
		grid-area:asideTag;
		background-color: black;
		padding: 40px;
		display: grid;
		grid-gap: 20px;
		
		grid-template-areas:
		'product1Tag	product2Tag	product3Tag';	
		
		order: 5;
		flex-basis: 26%;
	}
	
	header
	{
		flex-basis:100%;
		order:1;
	}
	
	nav
	{
		flex-basis:100%;
		order:2;
	}
	
	#movie
	{
		flex-basis:100%;
		order:3;
	}
	
	#article-flex
	{
		flex-basis:64%;
		flex:1;
	}
	
	#article1
	{
		order:1;
	}
	
	#article2
	{
		order:2;
	}
	
	#article3
	{
		order:3;
	}

}

