body
{
	background-color: black;
	color: yellow;
}

header
{
	color: black;
	grid-area: headerTag; 
	background-color: white;
	border:5px double; 
	padding: 20px 0px;
}

h3>img
{
	width:50px;
}

#navbar
{
	display:none;
}



li a
{
	float:left;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	background-color:blue;
	font-size:20px;
	border: solid 1px green;
	width:75%;
}

li a:hover
{
	background-color:lightblue;
	color: black;
}

a:visited
{
	color: red;
}

input[type="checkbox"]
{	
display:none;
}

nav
{
	grid-area: navTag;
	background-color: green;
	border: solid 5px; 
	border-color:#ECB;
	padding: 20px 0px;
}

video
{
	width:100%;
}

img
{
	width:50%;
}

#product1
{
	grid-area:product1Tag;
}

#product2
{
	grid-area:product2Tag;
}

#product3
{
	grid-area:product3Tag;
}

#ticketsproduct1
{
	grid-area:ticketsproduct1Tag;
}

#ticketsproduct2
{
	grid-area:ticketsproduct2Tag;
}

#ticketsproduct3
{
	grid-area:ticketsproduct3Tag;
}

#table
	{
		grid-area: tableTag;
		background-color: green;
		border: solid 5px; 
		padding: 20px 0px;
		color:black;
	}
	
table:first-child
{
	background-color:#FF0;
}

table:nth-child(even)
{
	background-color:#CFF;
}

table:nth-child(odd)
{
	background-color:#FFF;
}
 
aside
{
	grid-area:asideTag;
	background-color: #354;
	padding: 40px;
	display: grid;
	grid-gap: 20px;
	border: solid #298 5px;
	
	grid-template-areas:
	'product1Tag'
	'product2Tag'
	'product3Tag';	
}

aside>article
{
	border: solid gray;
	background-color: #165;
}




#ticketsaside
{
	grid-area:ticketsasideTag;
	
	grid-template-areas:
	'ticketsproduct1Tag'
	'ticketsproduct2Tag'
	'ticketsproduct3Tag';	
}


footer
{
	grid-area:footerTag;
	background-color: green;
	border: solid 5px; 
	padding: 20px 0px;
}

#cookie
{
	background-color: #FA0;
	grid-area:cookieTag;
	color: #FFF;
	opacity: 50%;
	z-index:9999;
}

#article1
{
	grid-area:article1Tag;
}

#article2
{
	grid-area:article2Tag;
}

#article3
{
	grid-area:article3Tag;
}

#article4
{
	grid-area:article4Tag;
}

#article5
{
	grid-area:article5Tag;
}

#article6
{
	grid-area:article6Tag
}

#article-grid-container
{
	grid-area:articleGridTag;
	background-color: black;
	padding: 40px;
	display: grid;
	grid-gap: 20px;
	
	grid-template-areas:
	'article5Tag'
	'article3Tag'
	'article2Tag'
	'article1Tag';
}

#ticketsinfo
{	
	grid-area:ticketsTag;
}

#article-grid-container> section
{
	background-color: red;
	border: solid aqua; 	
}

#grid-container
{
	display: grid;
	
	grid-template-areas:
	'headerTag		navTag			'
	'articleGridTag	articleGridTag	'
	'asideTag		asideTag		'
	'footerTag		cookieTag		';
}


article
{
	background-color: green;
	border: solid 5px; 
	padding: 20px 0px;
}

.flexparent
{
	display: flex;
	flex-wrap: wrap;
}

#article-flex
{
	display: flex;
	flex-direction: column;
	order: 4;
	flex-basis: 100%;
}

#article1
{
	flex-basis: 100%;
	order:3;
}
	
#article2
{
	flex-basis: 100%;
	order:2;
}

#article3
{
	flex-basis: 100%;
	order:1;
}

footer
{
	flex-basis: 66%;
	order:6;
}
	
#cookie
{
	order:7;
	flex:1;
}
form
{	
	grid-area:formTag;
	background-color: green;
	border: solid 5px; 
	padding: 20px 0px;
}

#contactinfo
{
	grid-area:contactinfoTag;
}

#contactproduct1
{	
	grid-area:contactproduct1Tag;
}

#contactproduct2
{	
	grid-area:contactproduct2Tag;
}

#contactproduct3
{	
	grid-area:contactproduct3Tag;
}

#contactaside
	{
		grid-area:contactasideTag;
		grid-template-areas:
		'contactproduct1Tag'
		'contactproduct2Tag'
		'contactproduct3Tag';
	}

	#tickets-grid-container
	{
		display: grid;
		
		grid-template-areas:
		'headerTag			navTag			'
		'tableTag			tableTag		'
		'ticketsasideTag	ticketsasideTag	'
		'footerTag			cookieTag		';
	}

	#contact-grid-container
	{
		display: grid;
		
		grid-template-areas:
		'headerTag			navTag			'
		'contactinfoTag		contactinfoTag	'
		'formTag			formTag			'
		'contactasideTag	contactasideTag	'
		'footerTag			cookieTag		';
	}
	
	
/* ik heb voor elke pagina die de aside gebtuikt een nieuwe aside tag moeten maken
ik had dat niet in het begin gedaan waardoor ik heel veel tijd heb verspilt
en ik weet niet zeker of het echt de bedoeling is maar ik heb niet honderd dingen in de table in tickets.html gevult met links naar tui daar waren er ook niet genoeg voor
*/


@media screen and (max-width: 480px)
{	
	h3
	{
		display: none;
	}
	
	img
	{
		margin:10px;
		width: 90%;
		border-width: 5em;
	}	
	#ticketsinfo
	{
		display: none;
	}
	
	#product1, #product3
	{
		display:block;
	}
	
	#hamburger-icon span
	{
		display: block;
		margin:4px;
		height: 9px;
		width: 60px;
		background-color: #135;
		border-radius: 9px;
		transition: .25s ease-in-out;
	}

	#hamburger-manu:checked ~ #hamburger-icon span:nth-child(1)
	{
		transform: rotate(45deg) translate(5px,15px);
	}

	#hamburger-manu:checked ~ #hamburger-icon span:nth-child(2)
	{
		opacity: 0;
	}

	#hamburger-manu:checked ~ #hamburger-icon span:nth-child(3)
	{
		transform: rotate(-45deg) translate(3px,-15px);
	}

	#hamburger-manu:checked ~ #navbar
	{
		display: block;
	}
	
	ul > li
	{
		display: inline;
	}
	
	input[type="checkbox"],#article4, #article6
	{	
	display:none;
	}
	
	header
	{
		flex-basis: 45%;
		flex: 1;
		order: 1
	}
	
	nav
	{
		flex-basis: 45%;
		flex: 1;
		order:2
	}
	
	#movie
	{
		display:none;
	}
	
	aside
	{
		flex-basis: 100%;
		order:3;
		word-spacing:20px;
	}
	
}

@media screen and (min-width: 481px) and (max-width: 1279px)
{
	img
	{
		float:left;
	}	
	
	#product3
	{
		display:none;
	}
	
	
	#article4 
	{
		display:none;
	}
	
	#hamburger-icon
	{
		display:none;
	}
	
	#ticketsproduct1
	{
		display:none;
	}
	
	#grid-container
	{
		grid-template-areas:
		'headerTag		headerTag		'
		'navTag			navTag			'
		'articleGridTag	articleGridTag	'
		'asideTag		asideTag		'
		'footerTag		cookieTag		';
	}
	
	#tickets-grid-container
	{
		grid-template-areas:
		'headerTag			headerTag		'
		'navTag				navTag			'
		'ticketsTag			ticketsTag		'
		'tableTag			tableTag		'
		'ticketsasideTag	ticketsasideTag	'
		'footerTag			cookieTag		';
	}
	
	#contact-grid-container
	{
		grid-template-areas:
		'headerTag		headerTag			'
		'navTag			navTag				'
		'contactinfoTag	contactinfoTag		'
		'formTag		contactasideTag		'
		'footerTag		cookieTag			';
	}
	
	#navbar
	{
		display:block;
		width:100%;
	}
	
	li a
	{
		float:none;
	}
	
	ul > li
	{
		display: inline;
	}

	#article-grid-container
	{
		grid-template-areas:
		'article1Tag	article2Tag'
		'article1Tag	article2Tag'
		'article3Tag	article2Tag'
		'article3Tag	article5Tag'
		'article3Tag	article5Tag'
		'article6Tag	article6Tag';
	}
	
	aside
	{
		grid-template-areas:
		'product1Tag	product2Tag';	
		
		flex-basis: 100%;
		order:3;
	}
	
	#ticketsaside
	{
		grid-template-areas:
		'ticketsproduct2Tag	ticketsproduct3Tag';	
	}
	

	header
	{
		flex-basis: 100%;
		order:1;
	}
	
	nav
	{
		flex-basis: 100%;
		order:2;
	}
	
	#movie
	{
		flex-basis: 100%;
		order:4;
	}
	

}

@media screen and (min-width: 1279px) 
{
	img
	{
		float:right;
	}	
	
	#article6
	{
		display: block;
	}
	
	#article4
	{
		display: block;
	}
	
	#hamburger-icon
	{
		display:none;
	}
	
	#navbar
	{
		display:block;
		width:100%;
	}
	
	ul>li a
	{
		float:none;
	}
	
	ul>li
	{
		display: inline;
	}
	
	#grid-container
	{
		grid-template-areas:
		'headerTag		headerTag		'
		'navTag			navTag			'
		'articleGridTag	articleGridTag	'
		'asideTag		asideTag		'
		'footerTag		cookieTag		';
	}
	
	
	#tickets-grid-container
	{
		grid-template-areas:
		'headerTag	headerTag		'
		'navTag		navTag			'
		'ticketsTag ticketsTag		'
		'tableTag	ticketsasideTag	'
		'footerTag	cookieTag		';
	}
	
	
	#contact-grid-container
	{
		grid-template-areas:
		'headerTag		headerTag			'
		'navTag			navTag				'
		'contactinfoTag	contactinfoTag		'
		'formTag		contactasideTag		'
		'footerTag		cookieTag			';
	}
		
	#article-grid-container
	{
		grid-template-areas:
		'article2Tag	article1Tag	article3Tag'
		'article5Tag	article1Tag	article4Tag'
		'article5Tag	article6Tag	article6Tag';
	}
	
	aside
	{
		grid-template-areas:
		'product1Tag	product2Tag	product3Tag';	
		
		order: 5;
		flex-basis: 26%;
	}
	
	header
	{
		flex-basis:100%;
		order:1;
	}
	
	nav
	{
		flex-basis:100%;
		order:2;
	}
	
	#movie
	{
		flex-basis:100%;
		order:3;
	}
	
	#article-flex
	{
		flex-basis:64%;
		flex:1;
	}
	
	#article1
	{
		order:1;
		line-height:60px;
	}
	
	#article2
	{
		order:2;
	}
	
	#article3
	{
		order:3;
		text-indent: 50px;
	}

}

